.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;1,200&display=swap');
body {
  font-family: 'Prompt', sans-serif;
  
}

.title {
  text-align: left;
  margin-left: 20px; /* เพิ่มการเว้นระยะห่างจากด้านซ้าย */
}

.subtitle {
  text-align: left;
  margin-left: 20px; /* เพิ่มการเว้นระยะห่างจากด้านซ้าย */
  /* font-size: 15px; */
}

@media (max-width: 768px) {
  .responsive-img {
      width: 100%;
      height: auto;
  }
}

.calendar-container {
  font-family: 'Prompt', sans-serif;
}

@import 'react-big-calendar/lib/css/react-big-calendar.css';

.todolist-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 600px) {
  .todolist-container {
      padding: 10px;
  }
  .todolist-input, .todolist-button {
      width: 100%;
      box-sizing: border-box;
  }
}
